{% include "head.html" %}
<body>
  {% include "header.html" %}
  {% include "menu.html" %}
  <div class="main">
    <div class="main-inner">
      <div class="container">
        <div class="row">
          <div class="span12">            
            <div id="target-2" class="widget">
              <div class="widget-content">
                <h1>¿Cómo se construyó Pro-veedor.pe?</h1><br />              
                <p>
                  <b>Pro-veedor.pe</b> se construyó usando la información publicada por las entidades en el portal de transparencia estandar (www.peru.gob.pe/transparencia/pep_transparencia.asp). Se creo una herramienta de web scraping para poder hacer la descarga de todas las contrataciones publicadas. Dejamos en claro que no se realizo ninguna actividad ilegal para hacer la descarga de los datos y es una herramienta experimental que permitira la busqueda inicial de las contrataciones, para mayor referencia de los contratos usar el sistema de SEACE.
                </p>
                <p>
                  <b>Pro-veedor.pe</b> es una herramienta de software libre y se encuentra en su versión 1.0 la cual esta publicada en nuestro <a href="https://github.com/Proetica/Proveedor" target="_blank">Github</a>. <br />
                  De existir algún problema o error en la aplicación les pedimos contactar al administrador de la aplicación para la solución del caso. 
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>
<!-- /main -->
{% include "footer.html" %}
<!-- Le javascript
  ================================================== --> 
  <!-- Placed at the end of the document so the pages load faster --> 
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/faq.js') }}"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript">
    $(document).ready(function() { 

      anios = [];
      totales = [];

      {% for t in total %}
      anios.push({{ t.anio }});
      totales.push({{ t.total }});
      {% endfor %}

      $('#container').highcharts({
        title: {
          text: 'Gasto de contrataciones por años',
            x: -20 //center
          },
          subtitle: {
            text: 'Fuente: Portal de transparencia estandar',
            x: -20
          },
          xAxis: {
            categories: anios
          },
          yAxis: {
            title: {
              text: 'Soles'
            }
          },
          tooltip: {
            valuePrefix: 'S/. '
          },
          credits: {
            enabled: false
          },
          series: [{
            name: 'Total por años',
            data: totales
          }]
        });

      rank_prov = [];

      {% for p in proveedores %}
      rank_prov.push({{ p.cantidad }})
      {% endfor %}

      $('#rank_prov').highcharts({
        chart: {
          type: 'bar'
        },
        title: {
          text: 'Cantidad de contrataciones por año'
        },
        subtitle: {
          text: 'Fuente: Portal de transparencia estandar'
        },
        xAxis: {
          categories: ['2009', '2010', '2011', '2012', '2013', '2014', '2015'],
          title: {
            text: null
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Contrataciones',
            align: 'high'
          },
          labels: {
            overflow: 'justify'
          }
        },
        plotOptions: {
          bar: {
            dataLabels: {
              enabled: true
            }
          }
        },
        credits: {
          enabled: false
        },
        series: [{
          name: 'Cantidad de proveedores',
          data: rank_prov
        }]
      });

    });

</script>
</body>
</html>
