  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">
  <title>{{ contrato.descripcion  }} | Veedor - Proveedores del estado peruano</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/pages/dashboard.css') }}" rel="stylesheet">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  </head>
  <body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span><span class="icon-bar"></span></a>
       <a class="brand" href="/">Veedor - Proveedores del estado peruano</a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                              class="icon-cog"></i> Reportar <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:;">Reportar error</a></li>
                <li><a href="javascript:;">Contactar al administrador</a></li>
              </ul>
            </li>
          </ul>        
        </div>
        <!--/.nav-collapse --> 
      </div>
      <!-- /container --> 
    </div>
    <!-- /navbar-inner --> 
  </div>
  <!-- /navbar -->
  <div class="subnavbar">
    <div class="subnavbar-inner">
      <div class="container">
        <ul class="mainnav">
          <li><a href="/"><i class="icon-dashboard"></i><span>Inicio</span> </a> </li>
          <li><a href="/empresas"><i class="icon-list-alt"></i><span>Empresas</span> </a> </li>
          <li class="active"><a href="/entidades"><i class="icon-list"></i><span>Entidades</span></a></li>
          <li><a href="/buscar"><i class="icon-search"></i><span>Buscar</span> </a> </li>
          <li><a href="/reportes"><i class="icon-bar-chart"></i><span>Reportes</span> </a> </li>
          <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i><span>Veedor</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/veedor">¿Qué es veedor?</a></li>
              <li><a href="/como">¿Como se construyo Veedor?</a></li>
              <li><a href="/contacto">Contactarnos</a></li>
              <li><a href="/reportar">Reportar</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /container --> 
    </div>
    <!-- /subnavbar-inner --> 
  </div>
  <!-- /subnavbar -->
  <div class="main">
    <div class="main-inner">
      <div class="container">
        <div class="row">
          <div class="span6">
            <div class="widget">
              <div class="widget-content">
              <h3><span class="label label-info">{{ contrato.objeto_pro }}</span></h3>
              <h1>{{ contrato.descripcion }}</h1>
              <p><i class="icon-book"></i> Proceso: <span class="label">{{ contrato.proceso }}</span></p>
<!--              <p><i class="icon-book"></i> Modalidad de selección: <span class="label label-info">{{ contrato.modalidad_sel }}</span></p> !-->
              <p>
              <i class="icon-calendar"></i> Fecha de publicación:  <span class="label label-success">{{ contrato.fecha_pub.strftime('%d/%m/%Y') }}</span>
              </p>
              <p>
              <i class="icon-calendar"></i> Fecha de buena pro:  <span class="label label-warning">{{ contrato.fecha_bue_pro.strftime('%d/%m/%Y') }}</span>
              </p>
              <p>
                <span>Detalles de la convocatoria: </span>
                {% if contrato.detalle_seace != 'no hay referencia' %}
                  <a href="{{ contrato.detalle_seace }}" target="_blank" class="btn"><img src="http://www.peru.gob.pe/transparencia/imagenes/b_seace.gif" alt="" border="0"></a>
                {% else %}
                  <span class="btn">No se encontro referencia</a>
                {% endif %}
              </p>              
             </div>
            </div>
          </div>

          <div class="span6">
            <div class="widget">
              <div class="widget-content">
              <span class="btn btn-large">
                <span>Valor referencial</span><br />
                <h1>{{ contrato.valor_ref }}</h1>
              </span>
              <span class="btn btn-large">
                <span>Monto del contrato</span><br />
                <h1>{{ contrato.monto }}</h1>
              </span>
              </div>
            </div>

            <div class="widget">
              <div class="widget-content">
                <span><b>Empresa</b></span>
                <h3><a href="{{ url_for('proveedor', id=contrato.empresa_id) }}" class="btn btn-small btn-warning">{{ contrato.razon_social }} (<span>{{ contrato.ruc }}</span>)</a></h3>
                 <span><b>Entidad contratante</b></span>
                <h3><a href="{{ url_for('entidad', id=contrato.entidad_id) }}" class="btn btn-small btn-success">{{ contrato.nombre }} (<span>{{ contrato.ruc }}</span>)</a></h3>
              </div>
            </div>

          </div>
        </div>
        <!-- /row --> 
      </div>
      <!-- /container --> 
    </div>
    <!-- /main-inner --> 
  </div>
  <!-- /main -->
  <div class="extra">
    <div class="extra-inner">
      <div class="container">
        <div class="row">
            <div class="span3">
              <!-- logos proética  -->
            </div>
            <!-- /span3 -->
        </div>
        <!-- /row --> 
      </div>
      <!-- /container --> 
    </div>
    <!-- /extra-inner --> 
  </div>
  <!-- /extra -->
  <div class="footer">
    <div class="footer-inner">
      <div class="container">
        <div class="row">
          <div class="span12"> &copy; 2015 Veedor - Proveedores del estado peruano | Desarrollado por <a href="http://www.odpe.org">ODPE</a>. </div>
          <!-- /span12 --> 
        </div>
        <!-- /row --> 
      </div>
      <!-- /container --> 
    </div>
    <!-- /footer-inner --> 
  </div>
  <!-- /footer --> 
  <!-- Le javascript
  ================================================== --> 
  <!-- Placed at the end of the document so the pages load faster --> 
  <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/excanvas.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/full-calendar/fullcalendar.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/base.js') }}"></script> 

  </body>
  </html>
