    {% include "head.html" %}
    <body>
    {% include "header.html" %}
   {% include "menu.html" %}
  <div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
        <div class="widget">
          <div class="widget-header"> <i class="icon-th-list"></i>
              <h3>Buscar por empresas</h3>
          </div>
          <div class="widget-content">
           <div class="tabbable">
            <ul class="nav nav-tabs">
              <li>
                <a href="#contratos" data-toggle="tab">Buscar por contratos</a>
              </li>
              <li class="active"><a href="#empresas" data-toggle="tab">Buscar por empresas</a></li>
              <li><a href="#entidades" data-toggle="tab">Buscar por entidades</a></li>
            </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="contratos">
                  <form action="{{ url_for('buscar', type='contratos') }}" method="post">
                    <input class="buscar-input" value="{{ termino }}" type="text" name="termino" placeholder="Buscar contrataciones por terminos. Ejem: Pañales, Golosinas, Limpieza, etc">
                  </form>
                </div>                
                <div class="tab-pane" id="empresas">
                  <form action="{{ url_for('buscar', type='empresas') }}" method="post">
                    <input class="buscar-input"  value="{{ termino }}" type="text" name="termino" placeholder="Buscar por razón social o ruc">
                  </form>
                </div>
                <div class="tab-pane" id="entidades">
                  <form action="{{ url_for('buscar', type='entidades') }}" method="post">
                    <input class="buscar-input"  value="{{ termino }}" type="text" name="termino" placeholder="Buscar por razón social o ruc">
                  </form>
                </div>               
              </div>             
            </div>  
          </div>
        </div>
          <div class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-th-list"></i>
              <h3>Top 25 de empresas</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="col-number-top"> N°</th>
                    <th> RUC</th>
                    <th> Razón social</th>
                    <th class="td-actions"> </th>
                  </tr>
                </thead>
                <tbody>

                {% for p in proveedores %}
                   <tr>
                     <td>{{ loop.index }}</td> 
                     <td>{{ p.ruc }}</td> 
                     <td>
                       <a href="{{ url_for('proveedor', id=p.id) }}"> {{ p.razon_social }}</a>
                     </td> 
                     <td class="td-actions">
                      <a href="{{ url_for('proveedor', id=p.id) }}" class="btn btn-small btn-success">Ver perfil</a>
                     </td> 
                   </tr>
                 {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /widget-content --> 
          </div>
        </div>
        <!-- /span6 --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>
<!-- /main --> 
{% include "footer.html" %}
<!-- Le javascript
  ================================================== --> 
  <!-- Placed at the end of the document so the pages load faster --> 
  <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{ url_for('static', filename='js/excanvas.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/base.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/faq.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
          url: '/api/get/search/contratos'
        }).done(function (data) {
          $('#buscar').autocomplete({
            source: data,
            minLength: 2
          });
        });
    });
  </script>
</body>
</html>