    {% include "head.html" %}
    <body>
    {% include "header.html" %}
    {% include "menu.html" %}
  <div class="main">
    <div class="main-inner">
      <div class="container">
        <div class="row">
          <div class="span6">
            <div class="widget">
              <div class="widget-header"> <i class="icon-th-list"></i>
                  <h3>Información general</h3>
              </div>
              <div class="widget-content">
              <h1>{{ entidad.nombre }}</h1>
              <h4>{{ entidad.tipo }}</h4>
              </div>
            </div>
          </div>

          <!-- /span6 --> 
          <div class="span4">
           
          </div>
        </div>
        <!-- /row --> 

        <div class="row">
          {% for c in contrataciones %}
            <div class="span4">
               <div class="widget">              
                  <div class="widget-content">
                    <p>
                    <span class="label label-success">{{ c.fecha_pub.strftime('%d/%m/%Y') }}</span>
                    <span class="label label-info">{{ c.fecha_bue_pro.strftime('%d/%m/%Y') }}</span><br />
                    </p>
                    <button type="button" class="btn btn-info">
                      <h2>{{ c.monto }}</h2>
                    </button>
                    <p>{{ c.descripcion }}</p>
                    <p>{{ c.razon_social }}</p>
                    <p><a href="{{ url_for('proveedor', id=c.empresa_id) }}" class="btn btn-small btn-warning">{{ c.razon_social }}</a></p>
                    <a href="{{ url_for('contrato', id=c.id) }}" class="btn btn-small btn-success">Ver detalles</a>
                  </div>              
                </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <!-- /container --> 
    </div>
    <!-- /main-inner --> 
  </div>
  <!-- /main -->
{% include "footer.html" %}
<!-- Le javascript
  ================================================== --> 
  <!-- Placed at the end of the document so the pages load faster --> 
  <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{ url_for('static', filename='js/excanvas.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/base.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/faq.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
          url: '/api/get/search/contratos'
        }).done(function (data) {
          $('#buscar').autocomplete({
            source: data,
            minLength: 2
          });
        });
    });
  </script>
</body>
</html>