      <div class="extra">
        <div class="extra-inner">
          <div class="container">
            <div class="row">
              <div class="span3" style="text-align:center;">
              <p>Desarrollado por:</p>
                <p><a href="http://www.proetica.org.pe" target="_blank"><img src="{{ url_for('static', filename='images/proetica.png') }}" /></a>   <a href="http://www.odpe.org" target="_blank"><img src="{{ url_for('static', filename='images/odpe.png') }}" /></a></p>
              </div>
              <!-- /span3 -->
            </div>
            <!-- /row --> 
          </div>
          <!-- /container --> 
        </div>
        <!-- /extra-inner --> 
      </div>
      <!-- /extra -->
      <div class="footer">
        <div class="footer-inner">
          <div class="container">
            <div class="row">
              <div class="span12"> &copy; 2015 Veedor - Proveedores del estado peruano | Desarrollado por <a href="http://www.odpe.org">ODPE</a>. </div>
              <!-- /span12 --> 
            </div>
            <!-- /row --> 
          </div>
          <!-- /container --> 
        </div>
        <!-- /footer-inner --> 
      </div>
      <!-- /footer --> 