      <div class="extra">
        <div class="extra-inner">
          <div class="container">
            <div class="row">
              <div class="span3">
                <!-- logos proética  -->
              </div>
              <!-- /span3 -->
            </div>
            <!-- /row --> 
          </div>
          <!-- /container --> 
        </div>
        <!-- /extra-inner --> 
      </div>
      <!-- /extra -->
      <div class="footer">
        <div class="footer-inner">
          <div class="container">
            <div class="row">
              <div class="span12"> &copy; 2015 Veedor - Proveedores del estado peruano | Desarrollado por <a href="http://www.odpe.org">ODPE</a>. </div>
              <!-- /span12 --> 
            </div>
            <!-- /row --> 
          </div>
          <!-- /container --> 
        </div>
        <!-- /footer-inner --> 
      </div>
      <!-- /footer --> 