<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pro-veedor | Contrataciones del estado peruano en la mira</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="Pro-Veedor es una herramienta digital que identifica a todos los proveedores que tienen algún tipo de contratación con las entidades públicas del Perú." />
  <meta name="abstract" content="Pro-Veedor es una herramienta digital que identifica a todos los proveedores que tienen algún tipo de contratación con las entidades públicas del Perú." />
    <link rel="canonical" href="http://pro-veedor.pe" />
  <link rel="shortlink" href="http://pro-veedor.pe" />
  <meta property="og:site_name" content="Pro-veedor | Contrataciones del estado peruano en la mira" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://pro-veedor.pe/" />
  <meta property="og:title" content="Pro-veedor | Contrataciones del estado peruano en la mira" />
  <meta property="og:description" content="Pro-Veedor es una herramienta digital que identifica a todos los proveedores que tienen algún tipo de contratación con las entidades públicas del Perú." />
    <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="cleartype" content="on">
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="/sites/all/themes/ojopublico/images/favicon_57x57_iphone.png"><!-- Major Browsers -->
  <link rel="apple-touch-icon" type="image/png" href="/sites/all/themes/ojopublico/images/favicon_57x57_iphone.png"><!-- iPhone -->
  <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="/sites/all/themes/ojopublico/images/favicon_144x144_ipad.png"><!-- iPad -->
  <link rel="apple-touch-icon" type="image/png" sizes="114x114" href="/sites/all/themes/ojopublico/images/favicon_144x144_ipad.png"><!-- iPhone4 -->
  <link rel="icon" type="image/png" href="/sites/all/themes/ojopublico/images/favicon_144x144_ipad.png"><!-- Opera Speed Dial, at least 144×114 px -->  


  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/pages/dashboard.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/pages/faq.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    </head>