      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
           <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
            class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a>
            <a class="brand" href="/">Pro-veedor: Contrataciones del estado peruano en la mira</a>
            <div class="nav-collapse">
              <ul class="nav pull-right">
              <li>
                 <a href="/acerca">¿Qué es Pro-veedor?</a>
               </li>
               <li><a href="/como">¿Cómo se construyó?</a></li>
               <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                class="icon-cog"></i> Reportar <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a target="_blank" href="https://docs.google.com/forms/d/1w0hMrJBTVPV4YeKkrYRHTlpynYB2snziLEENj8rN1OY/viewform?usp=send_form">Reportar error</a></li>
                  <li><a target="_blank"  href="https://docs.google.com/forms/d/1gLjqKIzSt0owl7WATQWQiFsvXKX4yt_pqmjUGWlSpmA/viewform?usp=send_form">Contactar al administrador</a></li>
                </ul>
              </li>
            </ul>        
          </div>
          <!--/.nav-collapse --> 
        </div>
        <!-- /container --> 
      </div>
      <!-- /navbar-inner --> 
    </div>