{% include "head.html" %}
<body>
  {% include "header.html" %}
  <div class="image-front">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="content-initial">
            <h1 class="title"><img src="{{ url_for('static', filename='images/logoproveedor.png') }}" /></h1><br />
            <h4>Proveedores del estado peruano</h4>
            <div class="ui-widget">
              <form action="/buscar/contratos" method="post" class="navbar-search span12">
                <input type="text" name="termino" id="search" placeholder="Buscar contrataciones por terminos. Ejem: Pañales, Golosinas, Limpieza, etc">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "menu.html" %}
  <div class="main">
    <div class="main-inner">
      <div class="container">
        <div class="row">
          <div class="span6">
           <div class="widget widget-nopad">
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content">              
                  <div id="big_stats" class="cf">
                    <div class="stat">
                      <i class="icon-money"></i>
                      <span class="value">S/. {{ '{0:,}'.format(totalsoles.total|float) }}</span>
                      <br> Gastado contrataciones en lo que va el 2015
                    </div>
                  </div>
                </div>             
              </div>               
            </div>
          </div>
          <div class="widget widget-nopad">
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content">
                 <div id="big_stats2" class="cf">              
                  <div id="rank_prov" style="min-width: 90% height: 380px;"></div>
                </div>
              </div>             
            </div>
          </div>
        </div>
      </div>

      <div class="span6">
       <div class="widget widget-nopad">
        <div class="widget-content">
          <div class="widget big-stats-container">
            <div class="widget-content">              
              <div id="big_stats" class="cf">
                <div class="stat"> <i class="icon-th-list"></i> <span class="value">{{ entidades }}</span><br> Entidades <br>públicas </div>
                <div class="stat"> <i class="icon-list-alt"></i> <span class="value">{{ empresas }}</span><br> Empresas <br>contratadas </div>
                <div class="stat"> <i class="icon-briefcase"></i> <span class="value">{{ contratos }}</span><br> Contrataciones <br>públicas </div>                   
                <div class="stat"> <i class="icon-calendar"></i> <span class="value">{{ irregulares }}%</span><br> Contrataciones con fechas irregulares</div>
              </div>
            </div>             
          </div>               
        </div>
      </div>
      <div class="widget widget-nopad">
        <div class="widget-content">
          <div class="widget big-stats-container">
            <div class="widget-content">              
              <div id="big_stats" class="cf">                  
                <div id="container" style="min-width: 90%; height: 380px;"></div>
              </div>
            </div>             
          </div>               
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="widget">              
        <div class="widget-content">
          <h1>Top 15 de empresas contratadas</h1><br />
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#2015-empresas" data-toggle="tab">2015</a>
              </li>
              <li>
                <a href="#2014-empresas" data-toggle="tab">2014</a>
              </li>
              <li>
                <a href="#2013-empresas" data-toggle="tab">2013</a>
              </li>
              <li>
                <a href="#2012-empresas" data-toggle="tab">2012</a>
              </li>
              <li>
                <a href="#2011-empresas" data-toggle="tab">2011</a>
              </li>
              <li>
                <a href="#2010-empresas" data-toggle="tab">2010</a>
              </li>
              <li>
                <a href="#2009-empresas" data-toggle="tab">2009</a>
              </li>
            </ul>
            <div class="tab-content">
              {% for t in top %}
                <div class="tab-pane  {% if t == 2015 %} active {% endif %}" id="{{ t }}-empresas">
                <div class="faq-container">
                  <ol class="faq-list">               
                    {% for e in top[t] %}
                    <li class="faq-{{ loop.index }}">
                      <div class="faq-icon"><div class="faq-number">{{ loop.index }}</div></div>
                      <div class="faq-text">
                        <h4><a href="{{ url_for('proveedor', id=e.id) }}">{{ e.razon_social }}</a> <span class="badge">{{ e.cant }}</span></h4>
                      </div>
                    </li>
                    {% endfor %}
                  </ol>
                </div>
                </div>
              {% endfor %}              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="widget">              
        <div class="widget-content">
          <h1>Top 15 de entidades contratantes</h1><br />
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#2015-entidades" data-toggle="tab">2015</a>
              </li>
              <li>
                <a href="#2014-entidades" data-toggle="tab">2014</a>
              </li>
              <li>
                <a href="#2013-entidades" data-toggle="tab">2013</a>
              </li>
              <li>
                <a href="#2012-entidades" data-toggle="tab">2012</a>
              </li>
              <li>
                <a href="#2011-entidades" data-toggle="tab">2011</a>
              </li>
              <li>
                <a href="#2010-entidades" data-toggle="tab">2010</a>
              </li>
              <li>
                <a href="#2009-entidades" data-toggle="tab">2009</a>
              </li>
            </ul>
            <br>
            <div class="tab-content">              
              {% for t in topentidades %}
              <div class="tab-pane {% if t == 2015 %} active {% endif %}" id="{{ t }}-entidades">
                <div class="faq-container">
                  <ol class="faq-list">               
                    {% for e in topentidades[t] %}
                    <li class="faq-{{ loop.index }}">
                      <div class="faq-icon"><div class="faq-number">{{ loop.index }}</div></div>
                      <div class="faq-text">
                        <h4><a href="{{ url_for('entidad', id=e.id) }}">{{ e.nombre }}</a> <span class="badge">{{ e.cant }}</span></h4>
                      </div>
                    </li>
                    {% endfor %}
                  </ol>
                </div>
                </div>
              {% endfor %}              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /span6 -->
  </div>
  <!-- /span6 --> 
</div>
<!-- /row --> 
</div>
<!-- /container --> 
</div>
<!-- /main-inner --> 
</div>
<!-- /main -->
{% include "footer.html" %}
<!-- Le javascript
  ================================================== --> 
  <!-- Placed at the end of the document so the pages load faster --> 
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/faq.js') }}"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#search" ).autocomplete({
        source: function( request, response ) {
          $.ajax({
            url: "/api/get/search/contratos",
            dataType: "json",
            data: {
              term: request.term
            },
            success: function(data) { 
             response(data);
           }
         });
        },
        minLength: 3,
      });     

      anios = [];
      totales = [];

      {% for t in total %}
      anios.push({{ t.anio }});
      totales.push({{ t.total }});
      {% endfor %}

      $('#container').highcharts({
        title: {
          text: 'Gasto de contrataciones por años',
            x: -20 //center
          },
          subtitle: {
            text: 'Fuente: Portal de transparencia estandar',
            x: -20
          },
          xAxis: {
            categories: anios
          },
          yAxis: {
            title: {
              text: 'Soles'
            }
          },
          tooltip: {
            valuePrefix: 'S/. '
          },
          credits: {
            enabled: false
          },
          series: [{
            name: 'Total por años',
            data: totales
          }]
        });

      rank_prov = [];

      {% for p in proveedores %}
      rank_prov.push({{ p.cantidad }})
      {% endfor %}

      $('#rank_prov').highcharts({
        chart: {
          type: 'bar'
        },
        title: {
          text: 'Cantidad de contrataciones por año'
        },
        subtitle: {
          text: 'Fuente: Portal de transparencia estandar'
        },
        xAxis: {
          categories: ['2009', '2010', '2011', '2012', '2013', '2014', '2015'],
          title: {
            text: null
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Contrataciones',
            align: 'high'
          },
          labels: {
            overflow: 'justify'
          }
        },
        plotOptions: {
          bar: {
            dataLabels: {
              enabled: true
            }
          }
        },
        credits: {
          enabled: false
        },
        series: [{
          name: 'Cantidad de proveedores',
          data: rank_prov
        }]
      });

    });

</script>
</body>
</html>
