   <!-- /navbar -->
      <div class="subnavbar">
        <div class="subnavbar-inner">
          <div class="container">
            <ul class="mainnav">
              <li {% if request.endpoint == "/" %} class="active" {% endif %}><a href="/"><i class="icon-dashboard"></i><span>Inicio</span> </a> </li>
              <li {% if request.endpoint == "empresas" %} class="active" {% endif %}><a href="/empresas"><i class="icon-list-alt"></i><span>Empresas</span> </a> </li>
              <li {% if request.endpoint == "entidades" %} class="active" {% endif %}><a href="/entidades"><i class="icon-list"></i><span>Entidades</span></a></li>
              <li {% if request.endpoint == "buscar" %} class="active" {% endif %}><a href="/buscar/contratos"><i class="icon-briefcase"></i><span>Contratos</span> </a> </li>
              <li {% if request.endpoint == "reportes" %} class="active" {% endif %}><a href="/reportes"><i class="icon-bar-chart"></i><span>Reportes</span> </a> </li>
              <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i><span>Veedor</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/veedor">¿Qué es veedor?</a></li>
                  <li><a href="/como">¿Como se construyo Veedor?</a></li>
                  <li><a href="/contacto">Contactarnos</a></li>
                  <li><a href="/reportar">Reportar</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /container --> 
        </div>
        <!-- /subnavbar-inner --> 
      </div>
      <!-- /subnavbar -->