{% include "head.html" %}
    <body>
    {% include "header.html" %}
    {% include "menu.html" %}
  <div class="main">
    <div class="main-inner">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="widget">
              <div class="widget-header"> <i class="icon-th-list"></i>
                  <h3>Información general</h3>
              </div>
              <div class="widget-content">
              <h4>{{ proveedor.ruc }}</h4>
              {% if proveedor.nombre_comercial == "-" %}
                <h1>{{ proveedor.razon_social }}</h1>
              {% else %}
                <h1>{{ proveedor.nombre_comercial }}</h1>
              {% endif %}
              <h4>({{ proveedor.razon_social }})</h4>            
              </div>
            </div>
            <div class="widget">
             <div class="widget-header"> <i class="icon-th-list"></i>
                  <h3>Información de representantes</h3>
              </div>
              <div class="widget-content">
              <div class="list-group">               
                {% for representante in proveedor.representantes %}
                  <div class="list-group-item">                    
                    <h4 class="list-group-item-heading">
                      <a href="{{ url_for('representante', id=representante.id) }}">{{ representante.nombre }} ({{ representante.dni }})</a><br /><br />
                      <span class="badge">{{ representante.fecha_cargo.strftime('%d/%m/%Y') }}</span> <span class="badge">{{ representante.cargo }}</span>
                    </h4>
                  </div>
                {% endfor %}
               </div>    
              </div>
            </div>
          </div>

          <div class="span8">
            <div class="row">
              {% for c in proveedor.contrataciones %}
                  <div class="span4">
                     <div class="widget">              
                        <div class="widget-content">                    
                          <button type="button" class="btn btn-info">
                            <h2>{{ c.monto }}</h2>
                          </button>
                          <p>{{ c.descripcion }}</p>
                          <p><a href="{{ url_for('entidad', id=c.entidad_id) }}" class="btn btn-small btn-warning">{{ c.nombre }}</a></p>
                          <a href="{{ url_for('contrato', id=c.id) }}" class="btn btn-small btn-success">Ver detalles</a>
                        </div>              
                      </div>
                  </div>
              {% endfor %}
            </div>
          </div>

          <!-- /span6 --> 
          <div class="span4">
           
          </div>
        </div>
        <!-- /row --> 
      </div>
      <!-- /container --> 
    </div>
    <!-- /main-inner --> 
  </div>
  <!-- /main -->
  {% include "footer.html" %}
<!-- Le javascript
  ================================================== --> 
  <!-- Placed at the end of the document so the pages load faster --> 
  <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{ url_for('static', filename='js/excanvas.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/base.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/faq.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
          url: '/api/get/search/contratos'
        }).done(function (data) {
          $('#buscar').autocomplete({
            source: data,
            minLength: 2
          });
        });
    });
  </script>
</body>
</html>