{% include "head.html" %}
<body>
  {% include "header.html" %}
  {% include "menu.html" %}
  <div class="main">
    <div class="main-inner">
      <div class="container">
        <div class="row">
          <div class="span4 block-search">
            <div class="widget">
              <div class="widget-header"> <i class="icon-th-list"></i>
                <h3>Información general</h3>
              </div>
              <div class="widget-content">
                <h4>{{ proveedor.ruc }}</h4>
                {% if proveedor.nombre_comercial == "-" %}
                <h1>{{ proveedor.razon_social }}</h1>
                {% else %}
                <h1>{{ proveedor.nombre_comercial }}</h1>
                {% endif %}
                <h4>({{ proveedor.razon_social }})</h4>            
              </div>
            </div>
            <div class="widget">
             <div class="widget-header"> <i class="icon-th-list"></i>
              <h3>Filtrar contratos</h3>
            </div>
            <div class="widget-content">        
              <form action="{{ request.url }}" method="post">
                <b>Filtrar por descripción</b>
                {{ form.proveedor(value=proveedor.id) }}
                {{ form.term(class="form-interno",placeholder="Ejem: Pañales, Golosinas, Limpieza, etc") }}                
                <div class="controls">
                  <b>Filtrar por etiquetas</b>
                  <label class="checkbox">
                    {{ form.etiquetas }}
                  </label>                  
                </div>
                <div class="controls">
                  <b>Filtrar por tipo de moneda</b>
                  <label class="checkbox">
                    {{ form.tipo_moneda }}
                  </label>                  
                </div>
                <div class="controls">
                  <b>Filtrar por fechas:</b>
                  <label class="dates">
                    {{ form.fecha_inicial(type="date", min="2009-01-01", max="2015-12-31") }}
                  </label>
                  <label class="dates">
                    {{ form.fecha_final(type="date", min="2009-01-01", max="2015-12-31") }}
                  </label>
                </div>
                <div class="controls">
                  <b>Filtrar por monto del contrato:</b>
                  {{ form.monto(class="monto-field", readonly="true", id="monto") }} 
                  <div id="slider-range"></div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">Buscar</button> 
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="span8">
          <div class="row">
          {% for c in proveedor.contrataciones %}
            <div class="span4 card-contrato">
             <div class="widget">              
              <div class="widget-content">
              <div style="overflow:hidden;">
                {% if c.etiqueta_fecha is not none %}
                  <span class="label flag-date">
                    {% if c.etiqueta_fecha == 'irregulares' %}
                      <span><i class="icon-calendar"></i> Fechas irregulares</span>
                    {% elif c.etiqueta_fecha == 'cercanas' %}
                      <span><i class="icon-calendar"></i> Fechas cercanas</span>
                    {% endif %}
                  </span>
                {% endif %}
                {% if c.etiqueta_monto is not none %}
                <span class="label flag-monto">
                  <span><i class="icon-plus"></i> {{ c.etiqueta_monto }}</span>
                </span>
                {% endif %}
                </div>
                <button type="button" class="btn btn-info">
                  <h3>{{ c.tipo_moneda|replace("{", "")|replace("}", "") }} {{ '{0:,}'.format(c.valor_ref|float) }}</h3>
                  <span>Monto de referencia</span>
                </button>
                <button type="button" class="btn btn">
                  <h3>{{ c.tipo_moneda|replace("{", "")|replace("}", "") }} {{ '{0:,}'.format(c.monto|float) }}</h3>
                  <span>Monto del contrato</span>
                </button>
                <p>
                  <span class="label">Publicación: {{ c.fecha_pub.strftime('%d/%m/%Y') }}</span>
                  <span class="label">Buena pro: {{ c.fecha_bue_pro.strftime('%d/%m/%Y') }}</span>
                </p>
                <p class="desc-contrato">{{ c.descripcion|truncate(100) }}</p>
                <p><a href="{{ url_for('entidad', id=c.entidad_id) }}" class="btn btn-entidad">{{ c.nombre }}</a></p>
                <a href="{{ url_for('contrato', id=c.id) }}" class="btn btn-small btn-success">
                <i class="icon-plus-sign"></i> Ver detalles</a>
              </div>              
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <span class="span8">
        {% if proveedor.pagination.count > proveedor.pagination.limit %}
        <div class="pagination">
          {% for p in range(1, (proveedor.pagination.pager+2)) %}
          <a {% if p==proveedor.pagination.page %} class="active" {% endif %} href="/proveedor/{{proveedor.id}}/{{ termino}}/{{ p }}">{{ p }}</a>
          {% endfor %}
        </div>
        {% endif %}
      </span>

      <!-- /span6 --> 
      <div class="span4">

      </div>
    </div>
    <!-- /row --> 
  </div>
  <!-- /container --> 
</div>
<!-- /main-inner --> 
</div>
<!-- /main -->
{% include "footer.html" %}
<!-- Le javascript
  ================================================== --> 
  <!-- Placed at the end of the document so the pages load faster --> 
  <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{ url_for('static', filename='js/excanvas.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/base.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/faq.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $( "#slider-range" ).slider({
        range: true,
        min: {{ proveedor.min.monto }},
        max: {{ proveedor.max.monto }},
        values: [ {{ proveedor.min.monto }}, {{ proveedor.max.monto }} ],
        slide: function( event, ui ) {
          $( "#monto" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
        }
      });
      $( "#monto" ).val($( "#slider-range" ).slider( "values", 0 ) +
        " - " + $( "#slider-range" ).slider( "values", 1 ) );
    });
  </script>
</body>
</html>